[Unit]
Description= rclone gCache_heli0s_AnimeMov mount
After=network-online.target
PartOf=gmedia.service

[Service]
Type=notify
ExecStart=/usr/bin/rclone mount \
		--config=/root/.config/rclone/rclone.conf \
		-vvv \
		--allow-other \
		--allow-non-empty \
		--buffer-size=512M \
		--dir-cache-time 72h \
		--drive-chunk-size 32M \
		--cache-chunk-path /data/drive/.cache/rclone/cache-backend \
		--vfs-read-chunk-size=256M \
		--vfs-read-chunk-size-limit=off \
		--vfs-cache-max-size=8G \
		--cache-dir /data/drive/.cache/rclone/cache-backend \
		--timeout=1h \
		--cache-db-purge gCache_heli0s_AnimeMov: /data/drives/gCache_heli0s_AnimeMov

ExecStop=/bin/fusermount -uz /data/drives/gCache_heli0s_AnimeMov
Restart=on-failure

[Install]
WantedBy=gmedia.service
